!!!
%html
  %head
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %title 2050 Pathways Calculator
    = stylesheet
    = javascript
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #topbar
      #name
        %a{href:'http://www.decc.gov.uk/2050'} The UK 2050 Calculator

      // To add or remove views from the web tool, alter the following section
      #views
        %a.view{href:'#', data: {view: 'primary_energy_chart'}} Energy
        %a.view{href:'#', data: {view: 'electricity'}} Electricity
        %a.view{href:'#', data: {view: 'energy_security'}} Security
        %a.view{href:'#', data: {view: 'sankey'}} Flows
        %a.view{href:'#', data: {view: 'map'}} Map
        %a.view{href:'#', data: {view: 'story'}} Story
        %a#cost_choice.newdropdown{href:'#', data: {dropdown: '#cost_choices'}} Costs
        %a.view{href:'#', data: {view: 'air_quality'}} Air
        %a.view{href:'#', data: {view: 'share'}} Share

      #cost_choices.dropdown
        %a.view{href:'#', data: {view: 'costs_in_context'}} In context
        %a.view{href:'#', data: {view: 'costs_compared_overview'}} Compared
        %a.view{href:'#', data: {view: 'costs_sensitivity'}} Sensitivity

      #examples
        %a.newdropdown{href:'#', data: {dropdown: '#savedpathway_choices'}} Examples

      #savedpathway_choices.dropdown
        - saved_pathways.each do |name,code|
          %a{href:"#", onclick:"twentyfifty.switchPathway('#{code}');$('ul#savedpathway_choices').toggle()"}= name
  
    #calculating
      %span Calculating

    // The charts will be drawn in this block
    #results

    // These are the controls
    #classic_controls
      #demand
        %table
          - structure.demand_choices.each do |choice|
            = classic_table_row_for_choice choice
      #supply
        %table
          - structure.supply_choices.each do |choice|
            = classic_table_row_for_choice choice
      #other
        %table
          = classic_table_row_for_choice structure.geosequestration_choice

        %table
          = classic_table_row_for_choice structure.balancing_choice
    #tooltip
    #footer
      Based on <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>excel #{ModelStructure.instance.reported_calculator_version.to_s.downcase}</a>. The source code for this site is available under an open source licence from 
      %a{href: "http://github.com/decc/twenty-fifty"}http://github.com/decc/twenty-fifty
