<!DOCTYPE html>
<html>
  <head>
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb --> 
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <!-- Other countries may want to delete this warning. It is hidden initially by css in src/stylesheets/body.css
      Code in the checkSVGWorks function in src/javascripts/controller.js checks if the user's web browser 
      supports SVG and, if it doesn't, shows this div.  -->
    <div id='svgWarn'>
      This interface requires <a href='http://caniuse.com/#cats=SVG'>a browser that supports SVG.</a> it seems like your browser doesn't support SVG. We have an <a href='http://uk-old.2050.org.uk'>old version of this calculator</a> that may work for you. Alternatively you can download <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>an excel version.</a>
      <p>
        <a href='#' onclick="$('#svgWarn').hide()">Hide this message.</a>
      </p>
    </div>

    <div id='topbar'>

      <div id='name'>
        <!-- Change this to link to your country website -->
        <a href='http://www.decc.gov.uk/2050'>The UK 2050 Calculator</a>
      </div>

      <div id='examples'>
        <a class='newdropdown' data-dropdown='#savedpathway_choices' href='#'>Examples</a>
        <!-- the contents of this dropdown is defined in the #savedpathway_choices div below -->
      </div>

      <!-- To add or remove views from the web tool, alter the following section -->
      <div id='views'>
        <a class='view' data-view='primary_energy_chart' href='#'>Energy</a>
        <a class='view' data-view='electricity' href='#'>Electricity</a>
        <a class='view' data-view='energy_security' href='#'>Security</a>
        <a class='view' data-view='sankey' href='#'>Flows</a>
        <a class='view' data-view='map' href='#'>Map</a>
        <a class='view' data-view='story' href='#'>Story</a>
        <a class='newdropdown' data-dropdown='#cost_choices' href='#' id='cost_choice'>Costs</a>
        <a class='view' data-view='air_quality' href='#'>Air</a>
        <a class='view' data-view='share' href='#'>Share</a>
        <!-- Change this to link to your own country website documentation -->
        <a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Docs</a>
      </div>
    </div>

    <div class='dropdown' id='cost_choices'>
      <a class='view' data-view='costs_in_context' href='#'>In context</a>
      <a class='view' data-view='costs_compared_overview' href='#'>Compared</a>
      <a class='view' data-view='costs_sensitivity' href='#'>Sensitivity</a>
    </div>

    <div class='dropdown' id='savedpathway_choices'>
      <!-- These are taken from the underlying spreadsheet -->
      <% structure.example_pathways.each do |pathway| %>
        <a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a>
      <% end %>
    </div>
    <div id='calculating'>
      <span>Calculating</span>
    </div>
    <!-- / The charts will be drawn in this block -->
    <div id='results'></div>
    <!-- / These are the controls -->
    <div id='classic_controls'>
      <!-- The left column -->
      <div id='demand'>
        <table>
          <!-- One row per choice -->
          <% structure.choices[21..39].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The middle column -->
      <div id='supply'>
        <table>
          <% structure.choices[0..20].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The right column -->
      <div id='other'>
        <table>
          <% structure.choices[40..42].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div id='footer'>
      <!-- Change this to link to your country's website -->
      Based on <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>excel version <%= structure.reported_calculator_version %> <%= %></a>. The source code for this site is available under an open source licence from <a href='http://github.com/decc/twenty-fifty'>http://github.com/decc/twenty-fifty</a>
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that: 
          <ol>
            <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
            <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
            <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
            <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
            <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
            <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
          </ol>
          <div id='understand'>
            <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
          </div>
        </div>
    </div>
  </body>
</html>
