<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
<!-- Change the title to one for your own country -->
    <title>Klimata kalkulators 2050</title>
    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <div class="header-wrapper">
        <div class="header-block">
            <div class="logo-block">
                <div class="header-logo">
                    <a href="https://klimatam.lv/" target="_blank" >
                        <img src="/assets/logos/logo_Klimatam.svg" alt="logo">
                    </a>
                </div>
                <div class="header-title">
                    Klimata kalkulators 2050
                </div>
            </div>
            <div class="page-links">
                <div class="burger-menu-icon">
                    <span class="nav-hamburger"></span>
                </div>
                <%= ERB.new(File.read('nav.html.erb'), nil, nil, '_sub01').result(binding) %>

                <%= ERB.new(File.read('parts/mobile-menu.html.erb'), nil, nil, '_sub01').result(binding) %>
            </div>
        </div>
    </div>

    <div class="calculator-wrapper active-page">
        <div class="calculator-blocks">

            <div class="button-scenarious-wrapper">
                <button class="button-scenarious">Izveido savu scenāriju</button>
            </div>

            <div class="calculator-inputs">
              <!-- Calculator input navigation -->
                <%= ERB.new(File.read('parts/inputnav.html.erb'), nil, nil, '_sub01').result(binding) %>

                <!-- Calculator levers -->
                <%= ERB.new(File.read('levers.html.erb'), nil, nil, '_sub01').result(binding) %>

            </div>

            <!-- Calculator charts-->
            <%= ERB.new(File.read('charts.html.erb'), nil, nil, '_sub01').result(binding) %>
        </div>
    </div>
    <!-- How to use page -->
    <%= ERB.new(File.read('parts/howto.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- about page -->
    <%= ERB.new(File.read('parts/about.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- Modal calculator summary -->
    <%= ERB.new(File.read('parts/modal-calculator-summary.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- Modal calculator structure -->
    <%= ERB.new(File.read('parts/modal-calculator-structure.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- Modal calculator scenarious -->
    <%= ERB.new(File.read('parts/modal-calculator-scenarious.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- Modal about -->
    <%= ERB.new(File.read('parts/modalabout.html.erb'), nil, nil, '_sub01').result(binding) %>

    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculating</span>
    </div>

    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div class='info-box'>Saite nokopēta</div>
    <div class='backdrop'></div>

    <%= ERB.new(File.read('footer.html.erb'), nil, nil, '_sub01').result(binding) %>

    </div>
  </body>
</html>
