<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
<!-- Change the title to one for your own country -->
    <title>2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <div class="header-wrapper">
        <div class="header-block">
            <div class="logo-block">
                <div class="header-logo">
                    <a href="https://klimatam.lv/" target="_blank" >
                        <img src="/assets/logos/logo_Klimatam.svg" alt="logo">
                    </a>
                </div>
                <div class="header-title">
                    Klimata kalkulators 2050
                </div>
            </div>
            <div class="page-links">
                <div class="burger-menu-icon">
                    <span class="nav-hamburger"></span>
                </div>
                <nav class="navigation-desktop">
                    <a href="/" class="page-link-item calculator-page active-tab">Kalkulators</a>
                    <a href="/ka-lietot" class="page-link-item how-to-use-page">Kā lietot?</a>
                    <a href="/par-kalkulatoru" class="page-link-item about-project-page">Par projektu</a>
                </nav>
                <nav class="navigation-modal-windows">
                    <a href="#" class="how-to-use">Kā lietot kalkulatoru?</a>
                    <a href="#" class="about-project">Par projektu</a>
                </nav>
            </div>
        </div>
    </div>

    <div class="calculator-wrapper active-page">
        <div class="calculator-blocks">

          <div class="button-scenarious-wrapper">
              <button class="button-scenarious">Izveido savu scenāriju</button>
          </div>

          <div class="calculator-inputs">
              <div class="inputs-navigation">
                  <span class="info-button info-button__scenarious">
                      <span></span>
                  </span>
                  <div class="scenario-dropdown">
                      <div class="menu-item">
                          <a href="#" id="scenarious-dropdown">
                            Scenāriju piemēri
                          </a>
                          <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.1455 1.3413L7.14551 7.33887L1.14551 1.3413" stroke="#646569" stroke-width="2"/>
                          </svg>
                          <div class="scenarious-sub-menu">
                              <div class="menu-item">
                                  <a href="#" onclick="twentyfifty.switchPathway('11222211122211221222222112222221222212212212221221111');">Visi ambīciju līmeņi 2</a>
                              </div>
                              <div class="menu-item">
                              <a href="#" onclick="twentyfifty.switchPathway('11333311133311331333333113333331333313313313331331111');">Visi ambīciju līmeņi 3</a>
                            </div>
                              <div class="menu-item">
                                  <a href="#" onclick="twentyfifty.switchPathway('11444411144411441444444114444441444414414414441441111');">Visi ambīciju līmeņi 4</a>
                                </div>
                            </div>
                      </div>
                  </div>
                  <div class="button-container hide-on-mobile">
                      <a href="/" class="button button__reset">Atiestatīt</a>
                  </div>
                  <div class="button-close-container hide-on-desktop">
                      <span class="modal-close-icon close-calculator-controls"></span>
                  </div>
              </div>
              <div class="levers-container">
                  <div class="levers-header">
                      <div class="levers-column__sectors">
                      <div class="button-info-container">
                          <span class="info-button">
                              <span>
                                  <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                                      <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                                  </svg>
                              </span>
                          </span>
                      </div>
                          <p>Sektori</p>
                      </div>
                      <div class="levers-column__steps">
                        <div class="button-info-container">
                              <span class="info-button">
                                  <span>
                                      <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                                          <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                                      </svg>
                                  </span>
                              </span>
                          </div>
                          <p>Ambīciju līmenis:</p>
                      </div>
                  </div>
                  <div class="levers-table">
                      <div class="levers" id='classic_controls'>
                        <!-- Transports -->
                        <div class="levers-sector-container">
                            <div class="levers-sector">
                                <a class="card active">
                                  <div class="sector-name">
                                      Transports
                                  </div>
                                  <div class="sector-logo">
                                      <img src="/assets/icons/IconTransport.svg" alt="sector logo">
                                  </div>
                                </a>
                                <div class="lever-steps-container">
                                    <div class="lever-step active" data-choicelevel="1" data-choicenumber="25,26,27,28,29,30">1</div>
                                    <div class="lever-step" data-choicelevel="2" data-choicenumber="25,26,27,28,29,30">2</div>
                                    <div class="lever-step" data-choicelevel="3" data-choicenumber="25,26,27,28,29,30">3</div>
                                    <div class="lever-step" data-choicelevel="4" data-choicenumber="25,26,27,28,29,30">4</div>
                                </div>
                            </div>
                            <div class="levers-subsector-container open">
                              <table>
                                <!-- One row per choice -->
                                <% structure.choices[21..26].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </ !-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </table>

                            </div>
                        </div>
                        <!-- Mājsaimniecība -->
                        <div class="levers-sector-container">
                            <div class="levers-sector">
                                <div class="card active">
                                  <div class="sector-name">
                                    Mājsaimniecība
                                  </div>
                                  <div class="sector-logo">
                                      <img src="/assets/icons/IconBuildings.svg" alt="sector logo">
                                  </div>
                                </div>
                                <div class="lever-steps-container">
                                    <div class="lever-step active" data-choicelevel="1" data-choicenumber="32,33,34,35,37,38">1</div>
                                    <div class="lever-step" data-choicelevel="2" data-choicenumber="32,33,34,35,37,38">2</div>
                                    <div class="lever-step" data-choicelevel="3" data-choicenumber="32,33,34,35,37,38">3</div>
                                    <div class="lever-step" data-choicelevel="4" data-choicenumber="32,33,34,35,37,38">4</div>
                                </div>
                            </div>
                            <div class="levers-subsector-container ">
                              <table>
                                <!-- One row per choice -->
                                <% structure.choices[27..32].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!--td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!--td>
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </table>

                            </div>
                        </div>
                        <!-- Komercdarbība -->
                        <div class="levers-sector-container">
                            <div class="levers-sector">
                                <div class="card active">
                                  <div class="sector-name">
                                    Komercdarbība
                                  </div>
                                  <div class="sector-logo">
                                      <img src="/assets/icons/IconIndustry.svg" alt="sector logo">
                                  </div>
                                </div>
                                <div class="lever-steps-container">
                                    <div class="lever-step active" data-choicelevel="1" data-choicenumber="40,41,43,44,45,47,48">1</div>
                                    <div class="lever-step" data-choicelevel="2" data-choicenumber="40,41,43,44,45,47,48">2</div>
                                    <div class="lever-step" data-choicelevel="3" data-choicenumber="40,41,43,44,45,47,48">3</div>
                                    <div class="lever-step" data-choicelevel="4" data-choicenumber="40,41,43,44,45,47,48">4</div>
                                </div>
                            </div>
                            <div class="levers-subsector-container ">
                              <table>
                                <!-- One row per choice -->
                                <% structure.choices[33..39].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </table>

                            </div>
                        </div>
                        <!-- Bioenerģijas apgāde -->
                        <div class="levers-sector-container">
                            <div class="levers-sector">
                                <div class="card active">
                                  <div class="sector-name">
                                    Bioenerģijas apgāde
                                  </div>
                                  <div class="sector-logo">
                                      <img src="/assets/icons/IconBioenergy.svg" alt="sector logo">
                                  </div>
                                </div>
                                <div class="lever-steps-container">
                                    <div class="lever-step active" data-choicelevel="1" data-choicenumber="21,22,17,18,19,20">1</div>
                                    <div class="lever-step" data-choicelevel="2" data-choicenumber="21,22,17,18,19,20">2</div>
                                    <div class="lever-step" data-choicelevel="3" data-choicenumber="21,22,17,18,19,20">3</div>
                                    <div class="lever-step" data-choicelevel="4" data-choicenumber="21,22,17,18,19,20">4</div>
                                </div>
                            </div>
                            <div class="levers-subsector-container ">
                              <table>
                                <!-- One row per choice -->
                                <% structure.choices[19..20].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                                <!-- One row per choice -->
                                <% structure.choices[15..18].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </table>

                            </div>
                        </div>
                        <!-- Enerģijas ražošana -->
                        <div class="levers-sector-container">
                            <div class="levers-sector">
                                <div class="card active">
                                  <div class="sector-name">
                                    Enerģijas ražošana
                                  </div>
                                  <div class="sector-logo">
                                      <img src="/assets/icons/IconElectricity.svg" alt="sector logo">
                                  </div>
                                </div>
                                <div class="lever-steps-container">
                                    <div class="lever-step active" data-choicelevel="1" data-choicenumber="9,2,3,5,4,10,11,14,15">1</div>
                                    <div class="lever-step" data-choicelevel="2" data-choicenumber="9,2,3,5,4,10,11,14,15">2</div>
                                    <div class="lever-step" data-choicelevel="3" data-choicenumber="9,2,3,5,4,10,11,14,15">3</div>
                                    <div class="lever-step" data-choicelevel="4" data-choicenumber="9,2,3,5,4,10,11,14,15">4</div>
                                </div>
                            </div>
                            <div class="levers-subsector-container ">
                              <table>
                                <!-- One row per choice -->

                                  <tr class='<%= structure.choices[8].incremental_or_alternative %>' id='r<%= structure.choices[8].number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= structure.choices[8].doc %>' target='_new' data-choicenumber='<%= structure.choices[8].number %>'>
                                        <%= structure.choices[8].name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= structure.choices[8].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[8].doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% structure.choices[8].levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= structure.choices[8].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[8].number %>l<%= i+1%>' title='<%= structure.choices[8].descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>

                                <!-- One row per choice -->
                                <% structure.choices[1..2].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                                <!-- One row per choice -->

                                  <tr class='<%= structure.choices[4].incremental_or_alternative %>' id='r<%= structure.choices[4].number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= structure.choices[4].doc %>' target='_new' data-choicenumber='<%= structure.choices[4].number %>'>
                                        <%= structure.choices[4].name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= structure.choices[4].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[4].doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% structure.choices[4].levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= structure.choices[4].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[4].number %>l<%= i+1%>' title='<%= structure.choices[4].descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>

                                <!-- One row per choice -->

                                  <tr class='<%= structure.choices[3].incremental_or_alternative %>' id='r<%= structure.choices[3].number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= structure.choices[3].doc %>' target='_new' data-choicenumber='<%= structure.choices[3].number %>'>
                                        <%= structure.choices[3].name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= structure.choices[3].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[3].doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% structure.choices[3].levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= structure.choices[3].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[3].number %>l<%= i+1%>' title='<%= structure.choices[3].descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>

                                  <!-- One row per choice -->
                                <% structure.choices[9..10].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>

                                <!-- One row per choice -->
                                <% structure.choices[13..14].each do |choice| %>
                                  <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                                    <td class='name'>
                                      <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                                        <%= choice.name %>
                                      </a>
                                    </td>
                                    <!-- td class='help'>
                                      <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                                    </!-->
                                    <!-- One cell per level for that choice -->
                                    <% choice.levels.each.with_index do |level,i| %>
                                      <td class='choice'>
                                        <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                                          <%= level %>
                                      </a>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </table>

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="mobile-controls-wrapper">
                    <div class="button-container">
                        <a href="/" class="button button__reset">Atiestatīt</a>
                    </div>
                    <div class="button-container">
                        <button class="button button__results">Rezultāts</button>
                    </div>
                  </div>
              </div>
          </div>


              <!-- Calculator charts-->
              <div class="calculator-outputs">
                    <div class="subtab-menu">
                      <div class="subtab-menu-charts">
                        <a href="#" class="show_emissions">CO2 emisijas</a>
                        <a href="#" class="show_supply">Enerģijas ieguve</a>
                        <a href="#" class="show_demand" class=" chart-selected">Enerģijas patēriņš</a>
                      </div>
                      <div class="charts-dropdown">
                          <div class="menu-item">
                              <a href="#" class="current-chart-title">
                              Enerģijas patēriņš
                              </a>
                              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M13.1455 1.3413L7.14551 7.33887L1.14551 1.3413" stroke="#646569" stroke-width="2"/>
                              </svg>
                                  <div class="mobile-charts-sub-menu">
                                      <div class="menu-item">
                                          <a href="#" class="show_supply">Enerģijas ieguve</a>
                                      </div>
                                      <div class="menu-item">
                                          <a href="#" class="show_emissions">CO2 emisijas</a>
                                      </div>
                                      <div class="menu-item">
                                          <a href="#" class="show_demand">Enerģijas patēriņš</a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                      <div class="subtab-menu-share">
                        <button class="share_link">Dalīties</button>
                      </div>
                    </div>
                    <div class="output-charts-container">
                      <div id="overview" class="chart-container">
                        <div id='results'>
                              <div class="outer-wrapper gauge-vertical">
                                  <span class="label label-begin">1990</span>
                                  <div class="column-wrapper">
                                      <div class="column column-vertical"></div>
                                      <span class="label-percent"></span>
                                  </div>
                                  <span class="label label-end">2050</span>
                              </div>
                              <div class="outer-wrapper gauge-horizontal">
                              <span class="label label-begin">1990</span>
                              <div class="column-wrapper">
                                  <div class="column column-horizontal"></div>
                                  <span class="label-percent"></span>
                              </div>
                              <span class="label label-end">2050</span>
                          </div>
                        </div>

                      </div>

                  </div>
              </div>
        </div>
    </div>
    <!-- How to use page -->
    <div class="how-to-use-wrapper">
      <div class="how-to-use-block--margin">
          <div class="how-to-use-block">
              <div class="how-to-use-tab-container">
                  <nav>
                      <a href="#">Sektori</a>
                      <a href="#">Ambīciju līmeņi</a>
                      <a href="#">Grafiki</a>
                      <a href="#">Apzīmējumi</a>
                  </nav>
              </div>
              <div class="how-to-use-content-container">
                  <div class="how-to-use-img-container">
                      <img src="" alt="image">
                  </div>
                  <div class="how-to-use-text-container">
                      <h2>This is heading</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                  </div>
              </div>

          </div>
      </div>
    </div>
    <!-- about page -->
    <div class="about-wrapper about-page-wrapper">
      <div class="about-block--margin">
          <div class="about-block">
              <div class="about-block__text-content">
                  <h2>This is heading</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
              </div>
              <div class="about-block__text-content">
                  <h2>This is heading</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
              </div>
              <div class="about-block__text-content">
                  <h2>This is heading</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
              </div>

          </div>
      </div>
    </div>

    <!-- Modal how to use-->
    <div class="modal-how-to-use-mask modal-how-to-use">
        <div class="modal-how-to-use-wrapper">
            <div class="modal-how-to-use-block">
                <div class="how-to-use-tab-container">
                    <button class="modal-close-icon modal-close-howto-icon">
                        <span></span>
                    </button>
                    <nav>
                        <a href="#">Sektori</a>
                        <a href="#">Ambīciju līmeņi</a>
                        <a href="#">Grafiki</a>
                        <a href="#">Apzīmējumi</a>
                    </nav>
                </div>
                <div class="how-to-use-content-container">
                    <div class="how-to-use-img-container">
                        <img src="" alt="image">
                    </div>
                    <div class="how-to-use-text-container">
                        <h2>This is heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal about -->
    <div class="modal-about-mask modal-about-project">
        <div class="modal-about-wrapper">
            <div class="modal-about-block">
                <button class="modal-close-icon modal-close-about-icon" >
                    <span></span>
                </button>
                <div class="modal-about-block__text-content">
                    <h2>This is heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                </div>
                <div class="modal-about-block__text-content">
                    <h2>This is heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                </div>
                <div class="modal-about-block__text-content">
                    <h2>This is heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                </div>

            </div>
        </div>
    </div>
    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculating</span>
    </div>
    <% if false %>
    <div id='topbar'>

      <div id='name'>
        <!-- Change this to link to your country website -->
        <a href='http://www.decc.gov.uk/2050'>The UK 2050 Calculator</a>
      </div>

      <div id='examples'>
        <a class='newdropdown' data-dropdown='#savedpathway_choices' href='#'>Examples</a>
        <!-- the contents of this dropdown is defined in the #savedpathway_choices div below -->
      </div>

      <!-- To add or remove views from the web tool, alter the following section -->
      <div id='views'>
        <a class='view' data-view='primary_energy_chart' href='#'>Energy</a>
        <a class='view' data-view='electricity' href='#'>Electricity</a>
        <a class='view' data-view='energy_security' href='#'>Security</a>
        <a class='view' data-view='sankey' href='#'>Flows</a>
        <a class='view' data-view='map' href='#'>Map</a>
        <a class='view' data-view='story' href='#'>Story</a>
        <a class='newdropdown' data-dropdown='#cost_choices' href='#' id='cost_choice'>Costs</a>
        <a class='view' data-view='air_quality' href='#'>Air</a>
        <a class='view' data-view='share' href='#'>Share</a>
        <!-- Change this to link to your own country website documentation -->
        <a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Docs</a>
      </div>
    </div>

    <div class='dropdown' id='cost_choices'>
      <a class='view' data-view='costs_in_context' href='#'>In context</a>
      <a class='view' data-view='costs_compared_overview' href='#'>Compared</a>
      <a class='view' data-view='costs_sensitivity' href='#'>Sensitivity</a>
    </div>

    <div class='dropdown' id='savedpathway_choices'>
      <!-- These are taken from the underlying spreadsheet -->
      <% structure.example_pathways.each do |pathway| %>
        <a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a>
      <% end %>
      <!-- Change this to point to your local website -->
      <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/122'>More&hellip;</a>
    </div>

    <!-- / The charts will be drawn in this block -->

    <div id='results'></div>

    <!-- / These are the controls -->
    <div id='classic_controls'>
      <!-- The left column -->
      <div id='demand'>
        <table>
          <!-- One row per choice -->
          <% structure.choices[21..39].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <!-- td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </!-->
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The middle column -->
      <div id='supply'>
        <table>
          <% structure.choices[0..20].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <!-- td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </!-->
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The right column -->
      <div id='other'>
        <table>
          <!-- this should actually go up to choice 42, but that isn't ready for prime time yet -->
          <% structure.choices[40..41].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <!-- td class='help'>
                <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </!-->
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
        <h4>Notes</h4>
        <table id='notes'>
          <tr><td id='firstcell'><div class='help'>?</div></td><td>Question marks take you to one page descriptions of each choice</td></tr>
          <tr><td><div class='level1'>1</div></td><td>The least effort possible on this choice.</td></tr>
          <tr><td><div class='level2'>2</div></td><td>Viewed as ambitious, but reasonable by most experts.</td></tr>
          <tr><td><div class='level3'>3</div></td><td>Viewed as unlikely without significant change from the current system and/or significant technological breakthroughs</td></tr>
          <tr><td><div class='level4'>4</div></td><td>The upper end of what is thought to be physically plausible by the most optimistic observer.</td></tr>
          <tr><td><div class='alternate'>A</div>&ndash;<div class='alternate'>D</div></td><td>A range of options where one alternative is not neccesiarily harder than another</td></tr>
          <tr class='primary_energy_notes'><td>Total used in the UK<sup>1</sup></td><td>Primary energy supply is normally higher than final energy demand, because of the energy used to generate electricity.</td></tr>
          <tr class='primary_energy_notes'><td>Targets<sup>2</sup></td><td>The targets up to 2027 exclude international aviation and shipping. They are also calculated as five year 'budgets', rather than the single year targets shown here.</td></tr>
          <tr class='primary_energy_notes'><td>Total<sup>3</sup></td><td>The total includes the reduction in emissions from carbon capture and storage and from growing new biomass to replace that used (the bioenergy credit).</td></tr>
      </table>
      </div>
    </div>
    <% end %>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div class='backdrop'></div>
    <div class="partners-wrapper">
        <div class="partners-block">
            <a class="brittish-embassy" href="https://www.gov.uk/world/organisations/british-embassy-riga">
                <img src="/assets/logos/logo_Brittish_embassy.svg" alt="logo">
            </a>
            <a class="rtg" href="https://www.rigatechgirls.com/">
                <img src="/assets/logos/logo_RTG.svg" alt="logo">
            </a>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer-blocks">
            <div class="footer-block__upper">
                <div class="flex-container__footer-list">
                    <div class="footer-list-container">
                        <ul class="footer-list">
                            <li class="menu-item">
                                <a href="https://klimatam.lv/klimata-parmainas/">Klimata pārmaiņas</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/iespejas/">Iespējas</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/informacijas-kratuve/">Krātuve</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/merkauditorijas/">Mērķauditorijas</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/klimats-klimata-parmainas-jaunumi/">Jaunumi</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/biezak-uzdotie-jautajumi/">BUJ</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/privatuma-politika/">Privātuma politika</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://klimatam.lv/pieklustamiba/">Piekļūstamība</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-container__footer-contacts">
                    <div class="footer-contacts-container">
                        <h2>Kontakti:</h2>
                        <p>Vides aizsardzības un reģionālas attīstības ministrija</p>
                        <div class="footer-contacts-list">
                            <span>
                                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.70117 14.02C5.94727 14.4028 6.52148 14.4028 6.76758 14.02C10.7598 8.27783 11.498 7.67627 11.498 5.54346C11.498 2.64502 9.14648 0.293457 6.24805 0.293457C3.32227 0.293457 0.998047 2.64502 0.998047 5.54346C0.998047 7.67627 1.70898 8.27783 5.70117 14.02ZM6.24805 7.73096C5.01758 7.73096 4.06055 6.77393 4.06055 5.54346C4.06055 4.34033 5.01758 3.35596 6.24805 3.35596C7.45117 3.35596 8.43555 4.34033 8.43555 5.54346C8.43555 6.77393 7.45117 7.73096 6.24805 7.73096Z" fill="white"/>
                                </svg>
                            </span>
                            <p>Peldu iela 25, Rīga, LV-1494, Latvija</p>
                        </div>
                        <div class="footer-contacts-list">
                            <span>
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4785 0.977051L11.6348 0.320801C11.334 0.23877 11.0059 0.402832 10.8691 0.703613L9.55664 3.76611C9.44727 4.03955 9.5293 4.34033 9.74805 4.53174L11.416 5.89893C10.4316 7.97705 8.70898 9.72705 6.57617 10.7388L5.20898 9.0708C5.01758 8.85205 4.7168 8.77002 4.44336 8.87939L1.38086 10.1919C1.08008 10.3286 0.943359 10.6567 0.998047 10.9575L1.6543 13.8013C1.73633 14.1021 1.98242 14.2935 2.31055 14.2935C9.31055 14.2935 14.998 8.6333 14.998 1.60596C14.998 1.30518 14.7793 1.05908 14.4785 0.977051Z" fill="white"/>
                                </svg>
                            </span>
                            <p>+371 67026907</p>
                        </div>
                        <div class="footer-contacts-list">
                            <span>
                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7246 3.51611C14.0957 4.0083 13.3027 4.60986 10.5137 6.6333C9.9668 7.04346 8.95508 7.9458 7.99805 7.9458C7.01367 7.9458 6.0293 7.04346 5.45508 6.6333C2.66602 4.60986 1.87305 4.0083 1.24414 3.51611C1.13477 3.43408 0.998047 3.51611 0.998047 3.65283V9.23096C0.998047 9.96924 1.57227 10.5435 2.31055 10.5435H13.6855C14.3965 10.5435 14.998 9.96924 14.998 9.23096V3.65283C14.998 3.51611 14.834 3.43408 14.7246 3.51611ZM7.99805 7.04346C8.62695 7.0708 9.5293 6.25049 9.99414 5.92236C13.6309 3.29736 13.9043 3.05127 14.7246 2.39502C14.8887 2.28564 14.998 2.09424 14.998 1.87549V1.35596C14.998 0.64502 14.3965 0.043457 13.6855 0.043457H2.31055C1.57227 0.043457 0.998047 0.64502 0.998047 1.35596V1.87549C0.998047 2.09424 1.08008 2.28564 1.24414 2.39502C2.06445 3.05127 2.33789 3.29736 5.97461 5.92236C6.43945 6.25049 7.3418 7.0708 7.99805 7.04346Z" fill="white"/>
                                </svg>
                            </span>
                            <a href="mailto:info@klimatam.lv">info@klimatam.lv</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-block__lower">
                <span>
                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5791 0.894531C3.10059 0.894531 0.282227 3.73828 0.282227 7.19141C0.282227 10.6699 3.10059 13.4883 6.5791 13.4883C10.0322 13.4883 12.876 10.6699 12.876 7.19141C12.876 3.73828 10.0322 0.894531 6.5791 0.894531ZM6.5791 12.2695C3.76074 12.2695 1.50098 10.0098 1.50098 7.19141C1.50098 4.39844 3.76074 2.11328 6.5791 2.11328C9.37207 2.11328 11.6572 4.39844 11.6572 7.19141C11.6572 10.0098 9.37207 12.2695 6.5791 12.2695ZM9.2959 9.70508C9.34668 9.6543 9.37207 9.57812 9.37207 9.50195C9.37207 9.42578 9.34668 9.375 9.32129 9.32422L8.81348 8.63867C8.71191 8.48633 8.50879 8.46094 8.35645 8.58789C8.12793 8.79102 7.51855 9.27344 6.70605 9.27344C5.38574 9.27344 4.7002 8.20703 4.7002 7.16602C4.7002 6.02344 5.46191 5.10938 6.68066 5.10938C7.44238 5.10938 8.02637 5.51562 8.25488 5.69336C8.38184 5.79492 8.61035 5.76953 8.68652 5.61719L9.16895 4.90625C9.19434 4.85547 9.21973 4.80469 9.21973 4.72852C9.21973 4.65234 9.16895 4.57617 9.11816 4.52539C8.88965 4.29688 8.05176 3.63672 6.62988 3.63672C4.62402 3.63672 3.0752 5.16016 3.0752 7.16602C3.0752 9.19727 4.54785 10.7715 6.65527 10.7715C8.12793 10.7715 9.04199 9.95898 9.2959 9.70508Z" fill="white"/>
                    </svg>
                </span>
                <p>Visas tiesības aizsargātas 2023</p>
            </div>
        </div>
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that:
          <ol>
            <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
            <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
            <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
            <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
            <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
            <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
          </ol>
          <div id='understand'>
            <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
          </div>
        </div>
        <div id='air_quality_results'>
          <div class='airquality'>
            <h1>The impact of your pathway on air quality</h1>
            <div class='airqualitymessage' id='airqualitymessage'>
              The damage to human health arising from air pollution from this pathway, principally particulate matter, could be around <span id='airquality_range_start'></span><span id='airquality_range_end'></span> in 2050 compared to 2010. <span id='air_quality_worse'> Given the scope for adverse implications for air quality, if the UK were to adopt this pathway the Government  would develop a policy framweork that supported the innovation required to be at the bottom end of the range</span>
          </div>
            <div id='airquality'></div>
            <div class='airqualitymessage'>
              <h2>How to interpret these results:</h2>
              <ul>
                <li>Air pollution health impact index &mdash; this index measures the effect on human health from fine particulate matter and other air pollutants such as nitrogen oxides.  For example, these pollutants have been linked to premature death caused by heart and lung disease. 2010 is the baseline year (100). A number lower than 100 indicates a reduction in average air pollution and associated health impacts, whilst a higher number indicates an increase. This index reflects changes in the average concentration of air pollutants across the UK.  It does not provide information on the number or severity of pollution hotspots.</li>
                <li>High end of hatched range &mdash; worst case scenario for air pollution whereby there is no further deployment or innovation in pollution abatement technology between now and 2050 beyond planned measures.</li>
                <li>Low end of hatched range &mdash; best case scenario whereby innovation radically improves pollution abatement technology between now and 2050 and it is fully deployed.</li>
              </ul>
              <p>
              We would welcome your feedback on the
              <a href="http://2050-calculator-tool-wiki.decc.gov.uk/pages/80">methodology</a> used to calculate the impact of your pathway on air quality.
              You can also download the excel version of the 2050 pathways calcualtor to see the different types of air pollution and the relative importance of different sources.
              </p>
            </div>
          </div>
        </div>
        <div id="energysecurity">
          <div id="balancing" class="column">
            <h2>Balancing electricity supply and demand</h2>
            <p id='autobuild_text'><span id='pathway_balancing_ccgt'></span> GW of conventional gas electricity generation plant has been assumed to have been built by 2050, to cover the gap between average electricity demand and the amount of low carbon generation selected in this pathway.</p>
            <p>This tool does not model the hourly, daily or even seasonal operation of the electricity grid. It presents annual averages. Therefore it does not correctly represent the peaks and troughs of electricity demand.</p>
            <p>To go some way to addressing this flaw, the tool applies a simulated stress test to your pathway of five cold, almost windless, days. This is described in more detail <a href="/assets/onepage/49.pdf" target="_new">here</a>. In this case, the stress test implies that <span id='pathway_balancing_peaking'></span> GW of additional peaking plant may be required for supply to meet demand over that period.</p>
            <p>You can influence the amount of peaking plant by changing your choice level of 'storage, demand shifting &amp; interconnection' below right,or by reducing the amount of intermittent renewable generation, or by reducing the demand for electricity</p>
          </div>
          <div id="imports" class="column">
            <h2>Dependence on imported energy</h2>
            <p>The calculator assumes that any available biomass is preferred over fossil fuels and that domestically produced fuels are preferred over imports.It assumes that fossil fuels are imported to cover any shortfall.</p>
            <table id="imports">
              <tr><th class="description"></th><th colspan="2" class="year">2007</th><th></th><th colspan="2" class="year">2050</th></tr>
              <tr><th class="description">Imports</th><th class="value">TWh/yr</th><th class="value">%</th><th></th><th class="value">TWh/yr</th><th class="value">%</th></tr>
            </table>
          </div>
          <div id="diversity" class="column">
            <h2>Diversity of energy sources</h2>
            <p>There may be a benefit from maintaining a diversity of energy sources:</p>
            <table id="diversity">
              <tbody>
              <tr><th class="description">Proportion of energy supply</th><th class="year">2007</th><th></th><th class="year">2050</th></tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>

    </div>
  </body>
</html>
