<div class="levers-container">
    <div class="levers-header">
        <div class="levers-column__sectors">
        <div class="button-info-container">
            <span class="info-button">
                <span>
                    <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                        <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                    </svg>
                </span>
            </span>
        </div>
            <p>Sektori</p>
        </div>
        <div class="levers-column__steps">
          <div class="button-info-container">
                <span class="info-button">
                    <span>
                        <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                            <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                        </svg>
                    </span>
                </span>
            </div>
            <p>Ambīciju līmenis:</p>
        </div>
    </div>
    <div class="levers-table">
        <div class="levers" id='classic_controls'>
          <!-- Transports -->
          <div class="levers-sector-container">
              <div class="levers-sector">
                  <a class="card active">
                    <div class="sector-name">
                        Transports
                    </div>
                    <div class="sector-logo">
                        <img src="/assets/icons/IconTransport.svg" alt="sector logo">
                    </div>
                  </a>
                  <div class="lever-steps-container">
                      <div class="lever-step active" data-choicelevel="1" data-choicenumber="25,26,27,28,29,30">1</div>
                      <div class="lever-step" data-choicelevel="2" data-choicenumber="25,26,27,28,29,30">2</div>
                      <div class="lever-step" data-choicelevel="3" data-choicenumber="25,26,27,28,29,30">3</div>
                      <div class="lever-step" data-choicelevel="4" data-choicenumber="25,26,27,28,29,30">4</div>
                  </div>
              </div>
              <div class="levers-subsector-container open">
                <table>
                  <!-- One row per choice -->
                  <% structure.choices[21..26].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </ !-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                </table>

              </div>
          </div>
          <!-- Mājsaimniecība -->
          <div class="levers-sector-container">
              <div class="levers-sector">
                  <div class="card active">
                    <div class="sector-name">
                      Mājsaimniecība
                    </div>
                    <div class="sector-logo">
                        <img src="/assets/icons/IconBuildings.svg" alt="sector logo">
                    </div>
                  </div>
                  <div class="lever-steps-container">
                      <div class="lever-step active" data-choicelevel="1" data-choicenumber="32,33,34,35,37,38">1</div>
                      <div class="lever-step" data-choicelevel="2" data-choicenumber="32,33,34,35,37,38">2</div>
                      <div class="lever-step" data-choicelevel="3" data-choicenumber="32,33,34,35,37,38">3</div>
                      <div class="lever-step" data-choicelevel="4" data-choicenumber="32,33,34,35,37,38">4</div>
                  </div>
              </div>
              <div class="levers-subsector-container ">
                <table>
                  <!-- One row per choice -->
                  <% structure.choices[27..32].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!--td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!--td>
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                </table>

              </div>
          </div>
          <!-- Komercdarbība -->
          <div class="levers-sector-container">
              <div class="levers-sector">
                  <div class="card active">
                    <div class="sector-name">
                      Komercdarbība
                    </div>
                    <div class="sector-logo">
                        <img src="/assets/icons/IconIndustry.svg" alt="sector logo">
                    </div>
                  </div>
                  <div class="lever-steps-container">
                      <div class="lever-step active" data-choicelevel="1" data-choicenumber="40,41,43,44,45,47,48">1</div>
                      <div class="lever-step" data-choicelevel="2" data-choicenumber="40,41,43,44,45,47,48">2</div>
                      <div class="lever-step" data-choicelevel="3" data-choicenumber="40,41,43,44,45,47,48">3</div>
                      <div class="lever-step" data-choicelevel="4" data-choicenumber="40,41,43,44,45,47,48">4</div>
                  </div>
              </div>
              <div class="levers-subsector-container ">
                <table>
                  <!-- One row per choice -->
                  <% structure.choices[33..39].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                </table>

              </div>
          </div>
          <!-- Bioenerģijas apgāde -->
          <div class="levers-sector-container">
              <div class="levers-sector">
                  <div class="card active">
                    <div class="sector-name">
                      Bioenerģijas apgāde
                    </div>
                    <div class="sector-logo">
                        <img src="/assets/icons/IconBioenergy.svg" alt="sector logo">
                    </div>
                  </div>
                  <div class="lever-steps-container">
                      <div class="lever-step active" data-choicelevel="1" data-choicenumber="21,22,17,18,19,20">1</div>
                      <div class="lever-step" data-choicelevel="2" data-choicenumber="21,22,17,18,19,20">2</div>
                      <div class="lever-step" data-choicelevel="3" data-choicenumber="21,22,17,18,19,20">3</div>
                      <div class="lever-step" data-choicelevel="4" data-choicenumber="21,22,17,18,19,20">4</div>
                  </div>
              </div>
              <div class="levers-subsector-container ">
                <table>
                  <!-- One row per choice -->
                  <% structure.choices[19..20].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                  <!-- One row per choice -->
                  <% structure.choices[15..18].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                </table>

              </div>
          </div>
          <!-- Enerģijas ražošana -->
          <div class="levers-sector-container">
              <div class="levers-sector">
                  <div class="card active">
                    <div class="sector-name">
                      Enerģijas ražošana
                    </div>
                    <div class="sector-logo">
                        <img src="/assets/icons/IconElectricity.svg" alt="sector logo">
                    </div>
                  </div>
                  <div class="lever-steps-container">
                      <div class="lever-step active" data-choicelevel="1" data-choicenumber="9,2,3,5,4,10,11,14,15">1</div>
                      <div class="lever-step" data-choicelevel="2" data-choicenumber="9,2,3,5,4,10,11,14,15">2</div>
                      <div class="lever-step" data-choicelevel="3" data-choicenumber="9,2,3,5,4,10,11,14,15">3</div>
                      <div class="lever-step" data-choicelevel="4" data-choicenumber="9,2,3,5,4,10,11,14,15">4</div>
                  </div>
              </div>
              <div class="levers-subsector-container ">
                <table>
                  <!-- One row per choice -->

                    <tr class='<%= structure.choices[8].incremental_or_alternative %>' id='r<%= structure.choices[8].number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= structure.choices[8].doc %>' target='_new' data-choicenumber='<%= structure.choices[8].number %>'>
                          <%= structure.choices[8].name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= structure.choices[8].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[8].doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% structure.choices[8].levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= structure.choices[8].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[8].number %>l<%= i+1%>' title='<%= structure.choices[8].descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>

                  <!-- One row per choice -->
                  <% structure.choices[1..2].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                  <!-- One row per choice -->

                    <tr class='<%= structure.choices[4].incremental_or_alternative %>' id='r<%= structure.choices[4].number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= structure.choices[4].doc %>' target='_new' data-choicenumber='<%= structure.choices[4].number %>'>
                          <%= structure.choices[4].name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= structure.choices[4].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[4].doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% structure.choices[4].levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= structure.choices[4].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[4].number %>l<%= i+1%>' title='<%= structure.choices[4].descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>

                  <!-- One row per choice -->

                    <tr class='<%= structure.choices[3].incremental_or_alternative %>' id='r<%= structure.choices[3].number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= structure.choices[3].doc %>' target='_new' data-choicenumber='<%= structure.choices[3].number %>'>
                          <%= structure.choices[3].name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= structure.choices[3].levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= structure.choices[3].doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% structure.choices[3].levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= structure.choices[3].number %>' data-choicelevel='<%= i+1 %>' id='c<%= structure.choices[3].number %>l<%= i+1%>' title='<%= structure.choices[3].descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>

                    <!-- One row per choice -->
                  <% structure.choices[9..10].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>

                  <!-- One row per choice -->
                  <% structure.choices[13..14].each do |choice| %>
                    <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
                      <td class='name'>
                        <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                          <%= choice.name %>
                        </a>
                      </td>
                      <!-- td class='help'>
                        <a title='Click for more detail on what choices <%= choice.levels.to_a.join(' ')%> mean.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
                      </!-->
                      <!-- One cell per level for that choice -->
                      <% choice.levels.each.with_index do |level,i| %>
                        <td class='choice'>
                          <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                            <%= level %>
                        </a>
                      </td>
                    <% end %>
                    </tr>
                  <% end %>
                </table>

              </div>
          </div>
        </div>
    </div>
    <div class="mobile-controls-wrapper">
      <div class="button-container">
          <a href="#" onclick="twentyfifty.switchPathway('11111111111111111111111111111111111111111111111111111');" class="button button__reset">Atiestatīt</a>
      </div>
      <div class="button-container">
          <button class="button button__results">Rezultāts</button>
      </div>
    </div>
</div>