%ul#viewdropdown.dropdown
  %li
    = link_to_function raw("See implications" + image_tag('dropdown-arrow.png')), "$('ul#view_choices').toggle()"
    %ul#view_choices.choices
      - view_names.to_a.slice(0..5).each do |action,title|
        %li= link_to_function title, "twentyfifty.switchView('#{action}')"
      %li
        = link_to "Under development:", "http://2050-calculator-tool-wiki.decc.gov.uk", :class => 'divider'
      - view_names.to_a.slice(6..-1).each do |action,title|
        %li= link_to_function title, "twentyfifty.switchView('#{action}')", :class => 'development'

