!!!
%html
  %head
    %title 2050 Pathways Calculator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/google'
    :javascript
      window.twentyfifty.pathway_wiki_pages_hash = #{pathway_wiki_pages.to_json};
      window.twentyfifty.pathway_descriptions_hash = #{pathway_descriptions.to_json};
      window.twentyfifty.pathway_names_hash = #{pathway_names.to_json};
      window.twentyfifty.comparator_pathways = #{cost_comparator_pathways.to_json};
      window.twentyfifty.default_comparator_code = #{default_cost_comparator_pathway.to_json};
      window.twentyfifty.choice_sizes = #{choice_sizes.to_json};
  %body
    #topbar
      #help= link_to "Help", "http://2050-calculator-tool-wiki.decc.gov.uk/pages/#{help_page}"
      = render 'layouts/view_dropdown'
      #messages
        #calculating Calculating
        - if %w{costs_in_context costs_compared_overview costs_sensitivity costs_compared_within_sector}.include?(action_name)
          #message.warning
            = link_to "This cost analysis is under development. Help us to make it better.","http://2050-calculator-tool-wiki.decc.gov.uk"
        - elsif %w{air_quality}.include?(action_name)
          #message.warning
            = link_to "This air quality analysis is under development. Help us to make it better.","http://2050-calculator-tool-wiki.decc.gov.uk"
        - else 
          #message
            = link_to "This is the DECC 2050 Pathways calculator. Click to find out more.","http://www.decc.gov.uk/2050"
      = render 'layouts/saved_pathways_dropdown'
      #share= link_to_function "Share", "twentyfifty.switchView('share')"
    = yield 
    #tooltip
    #footer
      Based on excel #{ModelStructure.instance.reported_calculator_version.to_s.downcase}. The source code for this site is available under an open source licence from 
      = link_to "http://github.com/decc/twenty-fifty", "http://github.com/decc/twenty-fifty"
