!!!
%html
  %head
    %title 2050 Pathways Calculator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #topbar
      #help= link_to "Help", "http://2050-calculator-tool-wiki.decc.gov.uk/pages/#{help_page}"
      = render 'layouts/view_dropdown'
      #messages
        #calculating Calculating
        #message= link_to "This is the beta version of the 2050 Pathways calculator. Help us to make it better.","http://www.decc.gov.uk/2050"
      = render 'layouts/saved_pathways_dropdown'
      #share= link_to_function "Share", "twentyfifty.switchView('share')"
    = yield 
    #tooltip
